* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  background-color: #204060;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gakutabi-icon {
  width: 8vw;
  margin-right: 8vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #F0F0E0;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.hotel-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #F0F0E0;
}

.tourist_spot-list {
  text-decoration: none;
  color: #F0F0E0;
}

.field_trip-list {
  text-decoration: none;
  color: #F0F0E0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #F0F0E0;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #F0F0E0;
}

.sign-up {
  text-decoration: none;
  color: #F0F0E0;
}