<div class="slider-box">
    <div class="introduction">
      <img class="introduction-img" src="assets/photo1.jpg">
      <div class="box-string1">
      </div>
      <p>一生の思い出を。忘れられない旅を。</p>
    </div>
    <div class="introduction">
      <img class="introduction-img" src="assets/photo2.jpg">
      <div class="box-string2">
        
      </div>
      <p>もっと楽に。もっと手軽に。</p>
    </div>
    <div class="introduction">
      <img class="introduction-img" src="assets/photo3.jpg">
      <div class="box-string3">
      </div>
      <p>プロとしてのこだわりと挑戦。</p>
    </div>
    <div class="introduction">
      <img class="introduction-img" src="assets/pthoto4.jpg">
      <div class="box-string4">
      </div>
      <p>おもてなし文化を次の世代へ・・・</p>
    </div>
</div>