

.default-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.c {
  height: 70%;
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
}

.b {
  position: relative;
}

.b p {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
}

.user-img {
  border-radius: 50%;
  width:  100px;
  height: 100px;
}

