@charset "UTF-8";
.default-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.introduction {
  position: relative;
}

.introduction .introduction-img {
  height: 70%;
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
}

.introduction .box-string1 {
  position: absolute;
  top: 360px;
  left: 360px;
  background-color: rgba(0, 206, 209, 0.8);
  border-radius: 10px;
}

.introduction .box-string1 p {
  color: white;
  font-size: large;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.7;
}

.introduction .box-string1 p span {
  font-weight: 800;
  border-bottom: solid 3px white;
}

.introduction .box-string2 {
  position: absolute;
  top: 360px;
  left: 420px;
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 10px;
}

.introduction .box-string2 p {
  color: white;
  font-size: large;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.7;
}

.introduction .box-string3 {
  position: absolute;
  top: 360px;
  left: 430px;
  background-color: rgba(30, 144, 255, 0.8);
  border-radius: 10px;
}

.introduction .box-string3 p {
  color: white;
  font-size: large;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.7;
}

.introduction .box-string4 {
  position: absolute;
  top: 360px;
  left: 300px;
  background-color: rgba(218, 165, 32, 0.8);
  border-radius: 10px;
}

.introduction .box-string4 p {
  color: white;
  font-size: large;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.7;
}

h1 {
  position: absolute;
  top: 120px;
  left: 250px;
  color: white;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

.review-img {
  height: 30%;
  width: 30%;
}

.review-contents {
  margin: 50px 50px;
}

.review-contents .review-box {
  padding: 0.5em 1em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.review-contents .review-box .review-upper-row {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: solid 3px #364e96;
  padding: 0.5em;
  border-radius: 0.5em;
  font-weight: 800;
}

.review-contents .review-box .review-upper-row .review_user__img {
  width: 50px;
  height: 50px;
}

.review-contents .review-box .review-upper-row .review_user__img .user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.review-contents .review-box .review-upper-row .review-nickname {
  margin: auto 10px;
}

.review-contents .review-box .review-upper-row .review-nickname .nickname {
  text-decoration: none;
  color: #212529;
}

.review-contents .review-box .review-upper-row .review-nickname .nickname:hover {
  -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.review-contents .review-box .review-upper-row .review-profession {
  margin: auto 10px;
}

.review-contents .review-box .review-upper-row .review-profession p {
  margin: 0;
}

.review-contents .review-box .review-upper-row .review-gear {
  margin: auto 10px auto auto;
  text-align: right;
}

.review-contents .review-box .review-upper-row .review-gear .fas {
  color: black;
  margin-right: 5px;
  font-size: 20px;
}

.review-contents .review-box .review-title {
  font-size: 25px;
  background-color: #364e96;
  color: #ffff;
  /*文字色*/
  font-weight: 600;
  border: solid 3px #364e96;
  border-radius: 0.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0 0 5px;
}

.review-contents .review-box .tag_name {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #a8eaff));
  background: linear-gradient(transparent 50%, #a8eaff 50%);
  margin-bottom: 10px;
}

.review-contents .review-box .review-image:hover {
  -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.review-contents .review-box .review-image .review-img {
  width: 100%;
  height: 100%;
}

.review-contents .review-box .review-lower {
  border: solid 3px #364e96;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-top: 10px;
}

.review-contents .review-box .review-lower .review-info {
  margin-right: 5px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review-contents .review-box .review-lower .review-info .like-info {
  margin-right: 10px;
}

.review-contents .review-box .review-lower .review-info .review-comment {
  margin-right: 10px;
}

.review-contents .review-box .review-lower .review-info .post-time {
  font-size: medium;
  margin-left: auto;
  padding-top: 3px;
}
/*# sourceMappingURL=index.css.map */