  $index-color:#364e96;
  

  .default-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  
  .introduction {
    position: relative;
    .introduction-img {
      height: 70%;
      width: 70%;
      margin: 50px auto;
    }
    h1 {
      position: absolute;
      top: 9%;
      left: 17%;
      color: white;
      font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    }
  }

  .search-box {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #222e3e;
    margin: 100px 50px 0 50px;
    .search-keyword {
      margin: 10px 150px 30px 150px ;
    }
    .search-upper {
      display: flex;
      
      .search-form {
        margin-left: auto;
        margin-right: auto;
        select {
          width: 100%;
        }
      }
    }
    .search-row {
      margin-top: 20px;
      display: flex;
      .search-form {
        margin-left: auto;
        margin-right: auto;
        select {
          width: 100%;
        }
      }
    }
    .search-submit {
      margin-top: 30px;
      text-align: center;
      color: white;
    }
  }

  .review-contents {
    margin-top: 50px;
    
    .review-box {
      padding: 0.5em 1em;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      
      
      .review-upper-row {
        height: 70px;
        display: flex;
        position: relative;
        border: solid 3px $index-color;
        padding: 0.5em;
        border-radius: 0.5em;
        font-weight: 800;
          
        .review_user__img {
          width: 50px;
          height: 50px;
          
          .user-img {
            width:  50px;
            height: 50px;
            border-radius: 50%;
            margin: auto 0px;
            object-fit: cover;
          }
        }

        .review-nickname {
          margin: auto 10px ;
          .nickname {
            text-decoration: none;
            color:#212529;
            &:hover {
              box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	            transform: translateY(-4px);
            }
          }
        }
        
        .review-profession {
          margin: auto 10px ;

        p {
          margin: 0;
        }
      }

      .review-gear {
        margin: auto 10px auto auto ;
        text-align: right;
        
        .fas {
          color: black;
          margin-right: 5px;
          font-size: 20px;
        }
        
        
      }
    }
    .review-title {
      font-size: 25px;
      background-color: $index-color;
      color: #ffff;/*文字色*/
      font-weight: 600;
      border: solid 3px $index-color;
      border-radius: 0.5em;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px 0 0 5px;
    }
    
    .review-image {
      height: 100%;
      width: 100%;
      &:hover {
        box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
        transform: translateY(-4px);
      }
      .review-img {
        width: 100%;
        height: 100%;
      }
    }
    
    
    
    .review-lower {
      border: solid 3px $index-color;
      padding: 0.5em;
      border-radius: 0.5em;
      margin-top: 10px;
      
      .review-info {
        margin-right: 5px;
        font-size: 20px;
        display: flex;

        .like-info {
          margin-right: 10px;
        }
        
        .review-comment {
          margin-right: 10px;
         }
        
        .post-time {
          font-size: medium;
          margin-left: auto;
          padding-top: 3px;
        }
      }
    }
  }
}

/* スマホ表示時 */
@media screen and(min-width: 560px) {
  
}



