

.default-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.introduction-img {
  height: 70%;
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
}

.introduction {
  position: relative;

  p {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
  }
}



.review-img {
  height: 30%;
  width: 30%;
}

.review-contents {
  margin: 50px 50px;
  
  .review-box {
    padding: 0.5em 1em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    

    .review-upper-row {
      height: 70px;
      display: flex;
      position: relative;
      border: solid 3px #364e96;
      padding: 0.5em;
      border-radius: 0.5em;
      font-weight: 800;
      
      .user-img {
        border-radius: 50%;
        width:  50px;
        margin: auto 10px;
      }

      .review-nickname {
        margin: auto 10px ;
      }

      .review-profession {
        margin: auto 10px ;

        p {
          margin: 0;
        }
      }

      .review-gear {
        margin: auto 10px auto auto ;
        text-align: right;

        .fas {
          margin-right: 5px;
          font-size: 20px;
        }

        
      }
    }
    .review-title {
      font-size: 25px;
      background-color: #364e96;
      color: #ffff;/*文字色*/
      font-weight: 600;
      border: solid 3px #364e96;
      border-radius: 0.5em;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px 0 0 5px;
    }

    .tag_name {
      background: linear-gradient(transparent 50%, #a8eaff 50%);
      margin-bottom: 10px;
    }

    .review-image {

      .review-img {
        width: 100%;
        height: 100%;
      }
    }

    .review-lower {
      border: solid 3px #364e96;
      padding: 0.5em;
      border-radius: 0.5em;
      margin-top: 10px;

      .review-info {
        margin-right: 5px;
        font-size: 20px;
        position: relative;

        .post-time {
          float: right;
          font-size: medium;
        }
      }
    }
  }  
}

// height: auto;
// text-align: right;
// position: absolute;
// bottom: 1px;
// left: 720px;
// font-size: medium;
// margin-bottom: 3px;


