  $index-color:#364e96;

  .default-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .introduction-img {
    height: 70%;
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
  }
  
  .introduction {
    position: relative;
    
    p {
      position: absolute;
      color: white;
      top: 0;
      left: 0;
    }
  }
  
  
  
  .review-img {
    height: 30%;
    width: 30%;
  }
  
  .review-contents {
    margin: 50px 50px;
    
    .review-box {
      padding: 0.5em 1em;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      
      
      .review-upper-row {
        height: 70px;
        display: flex;
        position: relative;
        border: solid 3px $index-color;
        padding: 0.5em;
        border-radius: 0.5em;
        font-weight: 800;
          
        .review_user__img {
          width: 50px;
          height: 50px;
          
          .user-img {
            width:  50px;
            height: 50px;
            border-radius: 50%;
            margin: auto 0px;
            object-fit: cover;
          }
        }
          
        
        .review-nickname {
          margin: auto 10px ;
        }
        
        .review-profession {
          margin: auto 10px ;

        p {
          margin: 0;
        }
      }

      .review-gear {
        margin: auto 10px auto auto ;
        text-align: right;
        
        .fas {
          color: black;
          margin-right: 5px;
          font-size: 20px;
        }
        
        
      }
    }
    .review-title {
      font-size: 25px;
      background-color: $index-color;
      color: #ffff;/*文字色*/
      font-weight: 600;
      border: solid 3px $index-color;
      border-radius: 0.5em;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px 0 0 5px;
    }
    
    .tag_name {
      background: linear-gradient(transparent 50%, #a8eaff 50%);
      margin-bottom: 10px;
    }
    
    .review-image {
      
      .review-img {
        width: 100%;
        height: 100%;
      }
    }
    
    .review-lower {
      border: solid 3px $index-color;
      padding: 0.5em;
      border-radius: 0.5em;
      margin-top: 10px;
      
      .review-info {
        margin-right: 5px;
        font-size: 20px;
        display: flex;

        .like-info {
          margin-right: 10px;
        }
        
        .review-comment {
          margin-right: 10px;
         }
        
        .post-time {
          font-size: medium;
          margin-left: auto;
          padding-top: 3px;
        }
      }
    }
  }  
}




