.event_button {
  margin-top: 30px;
  text-align: center;
}

.review-impression-box .review-impression {
  margin-top: 50px;
  margin-bottom: 20px;
}

.review-impression-box .review-impression .impression-title {
  margin: 0 350px 0 350px;
}

.review-impression-box .review-impression .impression-title h3 {
  margin-bottom: 20px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, rgba(247, 198, 104, 0.2)), color-stop(65%, #f7c668), to(rgba(247, 198, 104, 0.2)));
  background: linear-gradient(transparent 30%, rgba(247, 198, 104, 0.2) 30%, #f7c668 65%, rgba(247, 198, 104, 0.2));
  font-weight: bold;
}

.review-impression-box .review-corona {
  margin-bottom: 20px;
}

.review-impression-box .review-corona .corona-title {
  margin: 10px 300px 0 300px;
}

.review-impression-box .review-corona .corona-title h3 {
  margin-bottom: 20px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, rgba(247, 198, 104, 0.2)), color-stop(65%, #f7c668), to(rgba(247, 198, 104, 0.2)));
  background: linear-gradient(transparent 30%, rgba(247, 198, 104, 0.2) 30%, #f7c668 65%, rgba(247, 198, 104, 0.2));
  font-weight: bold;
}

.review-detail-box .detail-title {
  margin: 10px 350px 20px 350px;
}

.review-detail-box .detail-title h3 {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, rgba(247, 198, 104, 0.2)), color-stop(65%, #f7c668), to(rgba(247, 198, 104, 0.2)));
  background: linear-gradient(transparent 30%, rgba(247, 198, 104, 0.2) 30%, #f7c668 65%, rgba(247, 198, 104, 0.2));
  font-weight: bold;
}

.review-detail-box .review-detail .review-detail-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.review-detail-box .review-detail .review-detail-upper .event-info {
  text-align: center;
}

.review-detail-box .review-detail .review-detail-upper .event-info p {
  text-align: center;
  -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
          box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
  font-weight: bold;
}

.review-detail-box .review-detail .review-detail-upper .hotel_type-info {
  text-align: center;
}

.review-detail-box .review-detail .review-detail-upper .hotel_type-info p {
  text-align: center;
  -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
          box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
  font-weight: bold;
}

.review-detail-box .review-detail .review-detail-upper .grade-info {
  text-align: center;
}

.review-detail-box .review-detail .review-detail-upper .grade-info p {
  text-align: center;
  -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
          box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
  font-weight: bold;
}

.review-detail-box .review-detail .review-detail-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.review-detail-box .review-detail .review-detail-row .season-info {
  text-align: center;
}

.review-detail-box .review-detail .review-detail-row .season-info p {
  text-align: center;
  -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
          box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
  font-weight: bold;
}

.review-detail-box .review-detail .review-detail-row .region-info {
  text-align: center;
}

.review-detail-box .review-detail .review-detail-row .region-info p {
  text-align: center;
  -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
          box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
  font-weight: bold;
}

.review-detail-box .review-detail .review-detail-row .student_count-info p {
  text-align: center;
  -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
          box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
  font-weight: bold;
}

.review-detail-box .review-detail .review-detail-row .price-info {
  text-align: center;
}

.review-detail-box .review-detail .review-detail-row .price-info p {
  text-align: center;
  -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
          box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
  font-weight: bold;
}

.comment-box {
  margin: 30px 100px 0 100px;
}

.comment-box .comment-title {
  margin: 0 400px 10px 400px;
}

.comment-box .comment-title h3 {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, rgba(247, 198, 104, 0.2)), color-stop(65%, #f7c668), to(rgba(247, 198, 104, 0.2)));
  background: linear-gradient(transparent 30%, rgba(247, 198, 104, 0.2) 30%, #f7c668 65%, rgba(247, 198, 104, 0.2));
  font-weight: bold;
}

.comment-box .comment-form {
  text-align: center;
}

.comment-box .comment-form .comment-btn {
  margin-top: 10px;
}

.comment-box .comment-list .comment-area {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: solid 3px #000000;
}

.comment-box .comment-list .comment-area .comment-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-box .comment-list .comment-area .comment-user .user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-box .comment-list .comment-area .comment-user .comment-nickname {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.comment-box .comment-list .comment-area .comment-user .comment-profession {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.comment-box .comment-list .comment-area .comment-trash {
  text-align: right;
}

.comment-box .comment-list .comment-area .comment-trash .fas {
  color: black;
}

.comment-box .comment-list .comment-area .comment-content {
  margin-top: 10px;
}

.comment-box .comment-list .comment-area .comment-time {
  text-align: right;
}

@media screen and (max-width: 480px) {
  .review-impression-box .review-impression {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .review-impression-box .review-impression .impression-title {
    margin: 0 100px 0 100px;
  }
  .review-impression-box .review-impression .impression-title h3 {
    margin-bottom: 20px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, rgba(247, 198, 104, 0.2)), color-stop(65%, #f7c668), to(rgba(247, 198, 104, 0.2)));
    background: linear-gradient(transparent 30%, rgba(247, 198, 104, 0.2) 30%, #f7c668 65%, rgba(247, 198, 104, 0.2));
    font-weight: bold;
  }
  .review-impression-box .review-corona {
    margin-bottom: 20px;
  }
  .review-impression-box .review-corona .corona-title {
    margin: 10px 100px 0 100px;
  }
  .review-impression-box .review-corona .corona-title h3 {
    margin-bottom: 20px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, rgba(247, 198, 104, 0.2)), color-stop(65%, #f7c668), to(rgba(247, 198, 104, 0.2)));
    background: linear-gradient(transparent 30%, rgba(247, 198, 104, 0.2) 30%, #f7c668 65%, rgba(247, 198, 104, 0.2));
    font-weight: bold;
  }
  .review-detail-box .detail-title {
    margin: 10px 100px 20px 100px;
  }
  .review-detail-box .detail-title h3 {
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, rgba(247, 198, 104, 0.2)), color-stop(65%, #f7c668), to(rgba(247, 198, 104, 0.2)));
    background: linear-gradient(transparent 30%, rgba(247, 198, 104, 0.2) 30%, #f7c668 65%, rgba(247, 198, 104, 0.2));
    font-weight: bold;
  }
  .review-detail-box .review-detail .review-detail-upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 20px;
  }
  .review-detail-box .review-detail .review-detail-upper .event-info {
    text-align: center;
  }
  .review-detail-box .review-detail .review-detail-upper .event-info p {
    text-align: center;
    -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
            box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
    font-weight: bold;
  }
  .review-detail-box .review-detail .review-detail-upper .hotel_type-info {
    text-align: center;
  }
  .review-detail-box .review-detail .review-detail-upper .hotel_type-info p {
    text-align: center;
    -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
            box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
    font-weight: bold;
  }
  .review-detail-box .review-detail .review-detail-upper .grade-info {
    text-align: center;
  }
  .review-detail-box .review-detail .review-detail-upper .grade-info p {
    text-align: center;
    -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
            box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
    font-weight: bold;
  }
  .review-detail-box .review-detail .review-detail-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .review-detail-box .review-detail .review-detail-row .season-info {
    text-align: center;
  }
  .review-detail-box .review-detail .review-detail-row .season-info p {
    text-align: center;
    -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
            box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
    font-weight: bold;
  }
  .review-detail-box .review-detail .review-detail-row .region-info {
    text-align: center;
  }
  .review-detail-box .review-detail .review-detail-row .region-info p {
    text-align: center;
    -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
            box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
    font-weight: bold;
  }
  .review-detail-box .review-detail .review-detail-row .student_count-info p {
    text-align: center;
    -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
            box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
    font-weight: bold;
  }
  .review-detail-box .review-detail .review-detail-row .price-info {
    text-align: center;
  }
  .review-detail-box .review-detail .review-detail-row .price-info p {
    text-align: center;
    -webkit-box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
            box-shadow: 0px -6px 5px -3px rgba(247, 198, 104, 0.8) inset, 0px 7px 5px -8px #f7c668;
    font-weight: bold;
  }
  .comment-box {
    margin: 30px 0 0 0;
  }
  .comment-box .comment-title {
    margin: 0 100px 10px 100px;
  }
}
/*# sourceMappingURL=show.css.map */