.review-impression-box {
  .review-impression {
    margin-top: 50px;
    .impression-title {
      margin: 0 350px 0 350px;
      h3 {
        text-align: center;
        background: linear-gradient(transparent 30%,rgba(247, 198, 104, 0.2) 30%,rgb(247, 198, 104) 65%,rgba(247, 198, 104, 0.2));
        font-weight: bold;
      }
    }
  }

  .review-corona {
    .corona-title {
      margin: 10px 300px 0 300px;
      h3 {
        text-align: center;
        background: linear-gradient(transparent 30%,rgba(247, 198, 104, 0.2) 30%,rgb(247, 198, 104) 65%,rgba(247, 198, 104, 0.2));
        font-weight: bold;
      }
    }
  }
}
.review-detail {
  .detail-title {
    margin: 10px 350px 0 350px;
    h3 {
      text-align: center;
      background: linear-gradient(transparent 30%,rgba(247, 198, 104, 0.2) 30%,rgb(247, 198, 104) 65%,rgba(247, 198, 104, 0.2));
      font-weight: bold;
    }
  }
}